* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
}

img {
    width: 400px;
    border: solid black 2px;
    border-radius: 8px;
    margin: 1em;
    padding: 1em;
}

#note-to-remove {
    color: red;
}